* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #ffffff;
  color: #000000;
  max-width: 900px;
  margin: auto;
  padding: 50px 20px;
}

header h1 {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 70px;
}

.gallery img {
  width: 100%;
  margin-bottom: 50px;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

.categories {
  margin-top: 120px;
  display: flex;
  gap: 30px;
  font-size: 14px;
}

.categories a:hover {
  opacity: 0.4;
}

footer {
  margin-top: 140px;
  font-size: 12px;
  line-height: 1.6;
}

/* animações subtis */
.fade {
  opacity: 0;
  transform: translateY(25px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade.visible {
  opacity: 1;
  transform: translateY(0);
}
